body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

/* Header */

.header, .body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    width:100%;
}

.header {
    display: flex;
    padding: 20px 40px;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;

}
   
a {
    color: white;
    text-decoration: none;
}

/* This Website is awesome */

.body-container {
    display: flex;
    padding: 100px 0px;
    gap: 60px;


}

.body-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.body {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 15px;
}

.body-pic {
    flex-shrink: 0;
    
 
}

.body-pic img {
    width: 600px;
    height: 250px;

}

.sign-up {
    width: fit-content;
    background-color: #3882F6;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

/* Some Random Information */

.bottom-title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    padding-top: 40px;
}

.pic {
    width: 200px;
}

.random-info-container {
    justify-content: center;
    display: flex;
    gap: 30px;
    padding: 30px;
    padding-bottom: 80px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom-text {
    width: 200px;
    text-align: center;
    color: #444c58;
}

/* Thor Quote */

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.thor-container {
    padding: 150px;
    display: flex;
    flex-direction: column;
    max-width: 850px;
    gap: 10px;

}

.thor {
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;

}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

/* CTA */

.CTA-container {
    display: flex;
    justify-content: center;
}

.CTA {
    margin: 140px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 1000px;
    background-color: #3882F6;
    border: none;
    border-radius: 7px;
}


.CTA-text {
    color: white;

}

.CTA-title {
    font-weight: bold; 
    font-size: 28px;
}

.sign-up-2 {
    padding: 0 50px;
    border: solid 3px white;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    line-height: 1;

}

/* COPYRIGHT */

.footer {
    background-color: #1f2937;
    text-align: center;
    
}
